/*
  Usage:
  @include vertical-align-middle(position, width);
*/
@mixin vertical-align-middle($position: relative, $width: 100%) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
}

/*
  Usage:
  @include vertical-align(position);
*/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
