$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-backend: #1dd1a1 !default;

$color-primary: #f9f5e3 !default;
$color-secondary: #f9f5e3 !default;
$color-tertiary: #f9f5e3 !default;
